{% extends 'layout_lessons.html' %}

{% block title %}Про нас{% endblock title %}

{% block slogan %}Про нас{% endblock slogan %}
{% block lesson_title %}{% endblock lesson_title %}

{% block content %}
<p>
	Сайт, изначально создававшийся как дипломная работа, перерос в настоящее хранилище знаний, посвященный искусству графического дизайна, 
	с фокусом на обучение композиции и фотореализму. Наша цель - предоставить художникам средства и знания, необходимые для развития 
	их творческих навыков и достижения мастерства в графическом дизайне.
</p>
<p>
	Композиция является одним из ключевых аспектов успешного визуального искусства. Мы предлагаем подробное обучение основам композиции, 
	включая композиционные принципы, использование линий, форм. Наши уроки помогут художникам освоить эти техники и применить их в своих проектах.
</p>
<p>
	Фотореализм - это уникальное искусство создания изображений, которые напоминают фотографии. Мы предлагаем обучение фотореализму, позволяющее художникам 
	овладеть техниками создания высококачественных и реалистичных изображений. Они научатся использовать различные инструменты, а также изучат методы работы 
	со светом и тенями, чтобы достичь впечатляющих результатов.
</p>
<p>
	Наш сайт предоставляет доступ к обширному материалу, который включает теоретические статьи и примеры. Мы стремимся предоставить художникам всю необходимую 
	информацию, чтобы они могли развивать свое творческое мышление и расширять свои навыки в графическом дизайне. Мы верим, что искусство может быть доступным 
	и понятным для всех, и наша задача - помочь художникам достичь своих творческих целей и воплотить свои идеи в реальность.
</p>
{% endblock content %}